@use "global";
@use "variables";

body {
  background: var(--color-lochmara);
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  font-size: 48px;
  color: #000;

  div {
    padding: 24px 0;
  }
}
